body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(134, 131, 131);
}

header {
    background-color: rgb(134, 131, 131);
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.779);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

#messages, #posts {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
}

.message, .post {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.message p, .post p {
    margin: 5px 0;
}

#boardicon{
	width: 60px;
	height: 60px;
	
}

#letter{
	width: 60px;
	height: 60px;
}

.login{
	position: relative;
	left: 77%;
}

.ida{
	position: relative;
	left: 9px;
	padding: 5px;
}

.pw{
	padding: 5px;
}
